/* general settings */
html, body, #wrapper{height: 100%; width: 100%;}
ul, li{list-style-type: none; margin: 0; padding: 0;}

/* glyphicons */
.glyphicon-th{margin-right: 10px;}
.glyphicon-chevron-right{float: right; margin-top: 11px; right: 10px; color: #3f3f3f;}

/* main wrapper */
#wrapper{padding-left: 250px; transition: all 0.4s ease 0s;}

/* sidebar */
#sidebar-wrapper{
     background-color: #4a4a4a;
     margin-left: -250px;
     left: 250px;
     width: 250px;
     position: fixed;
     height: 100%;
     overflow-y: auto;
     z-index: 1000;
     transition: all 0.4s ease 0s;
     display:block;
}

/* sidebar header */
#sidebar-wrapper > #sidebar-header{
    width: 100%;
    height: 55px;
    padding: 10px 15px;
    background-color: #3f3f3f;
    margin-bottom: 10px;
}

#sidebar-wrapper > #sidebar-header > img{
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 20px;
    border-radius: 17px;
    -moz-border-radius: 17px;
}
#sidebar-wrapper > #sidebar-header > p{
    color: #fff;
    padding: 8px;
    height: 35px;
    text-transform: capitalize;
}

/* sidebar menu */
.mark, .mark:hover{
    color: #3f3f3f;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0 7px;
    margin: 3px 10px 0 10px;
    border: 2px solid #3f3f3f;
    border-radius: 15px;
    -moz-border-radius: 15px;
    float: left;
}
.mark:before{content: "x";}

.link1 a{color: #3f3f3f; float: left;}
.link1 a:hover{background: none !important;}

h1.menu-title{font-size: 14px; color:  #ccc; margin-left: 15px;}

/* sidebar > manage modules link at bottom */
#manage-modules{bottom: 0; position: fixed; width: 250px; border-top: 2px solid #ccc;}

#manage-modules > ul > li > a{color: #ccc; margin-left: 30px;}
#manage-modules > ul > li > a:hover{background: none !important; color: #fff;}

/* main area */
#content-wrapper{
    width: 100%;
    height: 100%;
    float: left;
    margin-bottom: 20px;
}


/* main area header */
#content-wrapper > #content-header{
    height: 55px;
    width: 100%;
    margin-top: 0;
    padding: 15px 20px;
    background-color: #f8f8f8;
    color: #4a4a4a;
    border-bottom: 1px solid #ebebeb;
}
#content-wrapper > #content-header > h1{
    font-size: 20px;
    float: left;
    margin: 0;
    padding: 0;
}
.form-group{height: 35px !important;}
.form-group > form{width: 220px; float: right; margin-top: -5px;}
.form-group > form > div > input{border-radius: 0; -moz-border-radius: 0; border-left: none;}
.form-group > form > div > .input-group-addon{border-radius: 0; -moz-border-radius: 0; border-right: none; background: #fff;}

/* main area > content */
#content{
    height: 85%;
    margin: 20px;
    border: 2px solid #ebebeb;
}

/* main area > content > menu */
#content > #content-menu{
    width: 200px;
    height: 100%;
    float: left;
    border-right: 2px solid #ebebeb;
    background-color: #eee;
    padding: 10px;
}
#content > #content-menu ul> div > li > a{color: #ccc;}

/* users list*/
#users{
    width: 250px;
    height: 100%;
    float: left;
    border-right: 2px solid #ebebeb;
    overflow:hidden;
}
#users > form > input{
    margin: 10px;
    border: none;
    padding: 3px;
    width: 200px;
    background-color: #f8f8f8;
}
#users > #contacts{
    width: 100%;
    height: 84%;
    float: left;
    padding: 20px 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #ccc;
}
#contacts > ul> h2{
    border-bottom:2px solid #ccc;
    margin-left: -10px;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    width: 90%;
}
#users > #contacts > ul> li > img{
    height: 30px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    float: left;
}
#users > #contacts > ul> li > p{padding: 5px; margin-left: 40px; text-transform: capitalize;}
#alphabet{
    position: absolute;
    left: 700px;
    top: 90px;
    text-align: center;
    text-transform: uppercase;
}
#alphabet > ul > li > p{padding: 0; margin: 0;}
#alphabet > ul > li > a{color: #000; font-size: 12px;}
#optButtons{
    float: left;
    height: 30px;
    width: 255px;
}
#optButtons > ul > li{
    width: 33%;
    float: left;
    text-align: center;
    display: block;
    background-color: #ebebeb;
    padding: 10px 2px;
    border-right: 2px solid #ccc;
}